.construction-list li, .construction-list li img{
    width: 70px !important;
    height: 70px !important;
}

.construction-list ul{
    justify-content: center;
    max-height: 415px
}

#content .pageContent article.const {
    margin: 60px auto 15px;
}

.const {
    background-color: #556E85;
    border-radius: 10px;
    max-width: 650px;
    width: 100%;
    min-height: 210px;
    padding: 0 10px 10px 10px;
}

.const > div:nth-child(2){
    width: 150px;
    height: auto;
    position: absolute;
    left: 10px;
}
.const div:nth-child(2) img{
    width: 100%;
}

.const .name {
    top: -18px;
    margin: 0 -10px 0;
}

.const .content div {
    background-color: #C7C8C2;
    padding: 5px;
    max-height: 180px;
    height: auto;
    border-radius: 5px;
    word-wrap: break-word;
    overflow: auto;
}

.const .content {
    max-height: 200px;
    height: auto;
    width: 471px;
    position: absolute;
    top: 20px;
    left: 170px;
}

.const .content p{
    margin: 0;
}

.boost > div:nth-child(2){
    width: 100px;
    left: 35px;
}

@media screen and (max-width: 675px) {

    .const div:nth-child(2){
        position: relative;
        margin: 0 auto 15px;
        left: 0;
    }

    .const .content div {
        margin: 0;
        max-height: 175px;
    }

    .const .content{
        max-height: 300px;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
}