.construction-list li, .construction-list li img{
    width: 70px !important;
    height: 70px !important;
}

.construction-list ul{
    justify-content: center;
    max-height: 415px
}

#content .pageContent article.const {
    margin: 60px auto 15px;
}

.const {
    background-color: #556E85;
    border-radius: 10px;
    max-width: 650px;
    width: 100%;
    min-height: 210px;
    padding: 0 10px 10px 10px;
}

.const > div:nth-child(2){
    width: 150px;
    height: auto;
    position: relative;
    margin: 0 auto 15px;
    left: 0;
}
.const div:nth-child(2) img{
    width: 100%;
}

.const .name {
    top: -18px;
    margin: 0 -10px 0;
}

.const .content div {
    background-color: #C7C8C2;
    padding: 5px;
    height: auto;
    border-radius: 5px;
    word-wrap: break-word;
    overflow: auto;
}

.const .content {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.const .content p{
    margin: 0;
}