.fam-head .view_construction img {
    width: 45px;
    height: auto;
}

.const {
    background-color: #556E85;
    border-radius: 10px;
    max-width: 650px;
    width: 100%;
    min-height: 190px;
    padding: 0 10px 10px 10px;
}

.const .content div:nth-child(1){
    width: 150px;
    height: auto;
    position: absolute;
    left: 15px;
}
.const .content div:nth-child(1) img{
    width: 100%;
}

.const .name {
    top: -18px;
    margin: 0 -10px 0;
}

.const .content div:nth-child(2) {
    margin: 0 0 0 170px;
    background-color: #C7C8C2;
    padding: 5px;
    max-height: 200px;
    height: auto;
    border-radius: 5px;
    word-wrap: break-word;
    overflow: auto;

}

.const .content {
    max-height: 200px;
    height: auto;
    position: relative;
}
.const .content p{
    margin: 0;
}

@media screen and (max-width: 575px) {

    .const .content div:nth-child(1){
        position: relative;
        margin: 0 auto 15px;
        left: 0;
    }

    .const .content div:nth-child(2) {
        margin: 0;
        max-height: 175px;
    }

    .const .content{
        max-height: 300px;
    }
}