/* Familiard */

.familiar{
    display: flex;
}

.fam img {
    width: 650px;
    height: auto;
    border-radius: 10px;
}

.fam > div{
    width: 650px;
    margin: auto;
    position: relative;
}

.fam-lvlPreview, .fam-name, .fam-comp1, .fam-comp2, .fam-comp3, .fam-talent{
    position: absolute;
    color: #DED078;
    text-shadow: 0px 0px 5px #000000;
    width: 160px;
}

.comp1-img, .comp2-img, .comp3-img{
    width: 42px;
    height: 42px;
    position: absolute;
}
.comp1-img, .comp2-img, .comp3-img, .talent-img { cursor: pointer;}

.fam-lvlPreview {
    top: 299px;
    left: 92px;
    font-size: 12px;
    width: 130px;
    height: 20px;
    text-align: center;
}

.fam-name {
    top: 40px;
    left: 80px;
    font-size: 16px;
}

.fam-comp1 {
    top: 100px;
    left: 460px;
}
.comp1-img{
    left: -53px;
    top: -7px;
}

.fam-comp2 {
    top: 167px;
    left: 460px;
}
.comp2-img{
    left: -53px;
    top: -5px;
}

.fam-comp3 {
    top: 220px;
    left: 460px;
}
.comp3-img{
    left: -53px;
    top: -5px;
}

.fam-talent {
    top: 315px;
    left: 485px
}
.talent-img{
    position: absolute;
    width: 58px;
    height: 60px;
    left: -72px;
    top: -18px;
}

@media screen and (max-width: 700px) {
    .fam > div {
        width: 330px;
    }
    .fam img {
        width: 330px;
        border-radius: 5px;
    }

    .fam {
        width: 100%;
        padding: 0 5px;
        font-size: 12px;
    }

    .fam-comp1, .fam-comp2, .fam-comp3, .fam-talent{
        width: 75px;
        height: 32px;
    }

    .comp1-img, .comp2-img, .comp3-img{
        width: 100px;
        height: 32px;
    }

    .fam-lvlPreview {
        top: 151px;
        left: 27px;
        font-size: 7px;
        width: 105px;
        height: 14px;
    }

    .fam-name {
        top: 15px;
        left: 40px;
        font-size: 13px;
    }

    .fam-comp1 {
        top: 39px;
        left: 240px;
    }
    .comp1-img{
        left: -28px;
        top: 0px;
    }

    .fam-comp2 {
        top: 74px;
        left: 240px;
    }
    .comp2-img{
        left: -28px;
        top: 0px;
    }

    .fam-comp3 {
        top: 108px;
        left: 240px;
    }
    .comp3-img{
        left: -28px;
        top: 0px;
    }

    .fam-talent {
        top: 150px;
        left: 250px
    }
    .talent-img{
        width: 112px;
        height: 35px;
        left: -37px;
        top: -2px;
    }
}