/* Familiard */

.familiar-dragon-info {
    margin: 0;
    padding: 0;
}
.familiar-dragon-info div{
    margin: 10px 0;
}
.familiar-dragon-info img{
    width: 30px;
}

.familiar{
    display: flex;
}

.fam img {
    width: 650px;
    height: auto;
    border-radius: 10px;
}
.familiar ul{
    max-height: 215px !important;
}

.fam > div{
    width: 650px;
    margin: auto;
    position: relative;
}

.fam-lvlPreview, .fam-name, .fam-comp1, .fam-comp2, .fam-comp3, .fam-talent{
    position: absolute;
    color: #DED078;
    text-shadow: 0px 0px 5px #000000;
    width: 160px;
    height: 60px;
}

.comp1-img, .comp2-img, .comp3-img{
    width: 42px;
    height: 42px;
    position: absolute;
}
.comp1-img, .comp2-img, .comp3-img, .talent-img { cursor: pointer;}

.fam-lvlPreview {
    top: 299px;
    left: 92px;
    font-size: 12px;
    width: 130px;
    height: 20px;
    text-align: center;
}

.fam-name {
    top: 45px;
    left: 80px;
    font-size: 16px;
    height: 20px;
}

.fam-comp1 {
    top: 82px;
    left: 460px;
}
.comp1-img{
    left: -53px;
    top: -7px;
}

.fam-comp2 {
    top: 153px;
    left: 460px;
}
.comp2-img{
    left: -53px;
    top: -5px;
}

.fam-comp3 {
    top: 216px;
    left: 460px;
}
.comp3-img{
    left: -53px;
    top: -5px;
}

.fam-talent {
    top: 297px;
    left: 480px;
    width: 140px
}

.talent-img{
    position: absolute;
    width: 58px;
    height: 60px;
    left: -72px;
    top: -18px;
}

@media screen and (max-width: 700px) {
    .fam > div {
        width: 330px;
    }
    .fam img {
        width: 330px;
        border-radius: 5px;
    }

    .fam {
        width: 100%;
        padding: 0 5px;
        font-size: 12px;
    }

    .fam-comp1, .fam-comp2, .fam-comp3, .fam-talent{
        width: 75px;
        height: 32px;
        font-size: 11px;
    }

    .comp1-img, .comp2-img, .comp3-img{
        width: 115px;
        height: 32px;
    }

    .fam-lvlPreview {
        top: 151px;
        left: 27px;
        font-size: 7px;
        width: 105px;
        height: 14px;
    }

    .fam-name {
        top: 20px;
        left: 40px;
        font-size: 11px;
    }

    .comp1-img, .comp2-img, .comp3-img{
        left: -37px;
        top: 0px;
    }

    .fam-comp1 {
        top: 39px;
        left: 233px;
    }

    .fam-comp2 {
        top: 74px;
        left: 233px;
    }

    .fam-comp3 {
        top: 108px;
        left: 233px;
    }

    .fam-talent {
        top: 150px;
        left: 245px
    }
    .talent-img{
        width: 111px;
        height: 35px;
        left: -38px;
        top: -2px;
    }
}