@font-face {
    font-family: 'Sansation';
    src: url('../fonts/Sansation_Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation-light';
    src: url('../fonts/Sansation_Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation-light-italic';
    src: url('../fonts/Sansation_Light_Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation-italic';
    src: url('../fonts/Sansation_Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation-bold';
    src: url('../fonts/Sansation_Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Sansation-bold-italic';
    src: url('../fonts/Sansation_Bold_Italic.ttf') format('truetype');
}

body {
    background-image: url('../img/background.jpg');
    width: 1170px;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #fff;
    background-attachment: fixed;
    background-size: cover; 
    font-family: 'Sansation', Georgia, Times, serif;
}

body .icon {
    background: transparent url('../img/logo.png') no-repeat center top;
    width: 500px;
    height: 310px;
    margin: auto;
}

.bodyContent {
    background-color: rgba(0,0,0,0.25);
    border-radius: 45px 45px 0 0;
    box-shadow: 0 0 5px black;
    padding: 0 0 60px 0;
}

.leftNav .navbar, .leftNav .dropdown-menu, .topNav .navbar, footer {background-color: #DED096;}

.leftNav .dropdown-menu a:hover{
    background-color: rgba(0,0,0,0.5);
}


.topNav {
    padding: 0;
    margin: auto;
}

.topNav a:hover {
    background-color: rgba(85, 47, 47, 0.2);
    border-radius: 5px;
}

.topNav .navbar {
    border-radius: 45px 45px 0 0;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    padding: 10px 30px;
}

.topNav .nav-diviser{
    background-color: #70603F;
    width: 2px;
    height: 32px;
    margin: 4px 10px;
}

.leftNav .navbar-nav {flex-direction: column;}

.leftNav .navbar-nav li{
    width: 228px;
    margin: 2px 0;
}

.leftNav .navbar-nav li:hover{
    background-color: rgba(0,0,0,0.08);
    border-radius: 3px;
}

.leftNav .navbar{
    border-radius: 5px;
    border: 1px solid #716a42;
    box-shadow: 0 0px 5px rgba(0,0,0,0.5);
    padding: 30px 10px 10px;
}

.leftNav {
    padding: 0;
    margin: 20px 0 0 0;
    width: 250px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 250px;
    margin: 20px 0 0 0;
    transition: .5s;
}

.leftNav-title {
    position: absolute;
    top: -21px;
    left: 9px;
}

.leftNav-title img{
    width: 190px;
    height: 40px;
}

.leftNav-title > div{
    position: absolute;
    top: 5px;
    left: 20px;
    width: 190px;
    height: 27px;
    font-size: 21px;
    color: #DED096;
    text-shadow: 1px 1px 5px black;
}

.leftNav-title > div > div{
    position: absolute;
    top: 5px;
    left: 0px;
    width: 190px;
    height: 27px;
}

.leftNav .nav-item img {
    width: 40px;
    margin-right: 15px;
}

.container.row {
    margin: 0;
}

#content .content-title {
    position: absolute;
    top: -21px;
    left: 0;
    width: 100%;
}

#content .content-title div{
    top: 4px;
    width: 400px;
    color: #DED096;
    text-shadow: 1px 1px 5px black;
    margin: auto;
}

#content .content-title > div > div{
    position: absolute;
}

#content .content-title div h1{font-size: 32px;}

#content .content-title img {width: 100%;}

#content.pageWidth {
    width: 870px;
    min-height: 400px;
    background: transparent url(../img/content-top.png) no-repeat center top;
    padding: 30px 5px;
    margin-left: 20px;
    position: relative;
}

#content.pageWidth::after {
    content: "";
    display: block;
    width: 870px;
    background: transparent url(../img/content-bot.png) no-repeat center top;
    height: 56px;
    margin: -30px -5px;
}

#content .pageContent {
    background: #DED096 url(../img/bord.png) repeat-y center top;
    margin: 13px -5px 15px;
    padding: 20px 25px;
    height: 100%;
}

#content .pageContent article {
    margin: 30px auto 15px;
    position: relative;
}

.pagination {
    margin: 30px auto;
    width: 130px;
    background-color: rgba(112,96,63,0.6);
}
.pagination span {
    margin: auto;
}
.pagination span a {
    padding: 2px 5px;
}
.pagination span a:hover {
    background-color: rgba(0,0,0,0.08);
}

.filter-menu {
    margin: 0px auto 17px;
    width: 80%;
    padding: 0;
}
.filter-menu .title, .const .name{
    color: #DED078;
    text-shadow: 0px 0px 5px #000000;
    font-size: 18px;
}
.filter-menu .title, .const .name{
    position: relative;
    top: 12px;
    z-index: 1;
}
.filter-menu .title > div, .const .name > div{
    position: relative;
    width: 300px;
    height: 30px;
    margin: auto;
}
.filter-menu .title > div img, .const .name > div img{
    width: 100%;
    rotate: 180deg;
}
.filter-menu .title > div > div, .const .name > div > div{
    position: absolute;
    top: 0;
    width: 300px;
    text-align: center;
}

.filter-list {
    position: relative;
    padding: 10px 0;
    background-color: #556E85;
    border-radius: 10px;
}

.const .name {
    top: -18px;
}

#ajax-no-content {
    text-align: center;
    margin: 50px 0 0 0;
}

.tooltip-inner {
    background-color: burlywood;
}

footer {
    height: 50px;
    margin: 0 0 30px;
    box-shadow: 0 0 8px black;
}

@media screen and (max-width: 1200px) {

    body {
        width: 100%;
    }

    .bodyContent {
        border-radius: 0;
    }

    .topNav .navbar {
        border-radius: 0;
    }

    .leftNav {
        width: 100%;
    }

    .leftNav .navbar-nav {flex-wrap: wrap;}

    .leftNav-title {
        width: 100%;
        left: 0;
    }

    .leftNav-title > div {
        margin: auto;
        position: relative;
        top: 0;
        left: 0;
    }

    .leftNav .navbar-nav {
        flex-direction: row;
        flex: auto;
        justify-content: space-between;
    }

    .leftNav .navbar-nav {
        flex-direction: row;
    }

    #content.pageWidth {
        margin:auto;
    }
}

@media screen and (max-width: 992px) {

    body .icon {
        background: transparent url('../img/logo350.png') no-repeat center;
        width: 350px;
        height: 240px;
    }

    .bodyContent > div:nth-child(2) {
        padding: 0px 5px;
    }

    /*=================================================
    *
    *
    *                   MENU
    *
    *
    =================================================*/

    .topNav .navbar{
        padding: 10px 5px;
    }

    .topNav .navbar-nav{
        flex-direction: row;
        margin-top: 0 !important;
    }

    .topNav .navbar-nav .nav-link {
        padding-left: .5rem;
        padding-right: .5rem;
        text-align: center;
    }

    .leftNav-title {
        width: 100%;
        top:-21px;
    }

    .leftNav-title img{
        width: 230px;
    }

    .leftNav-title > div{
        width: 228px;
    }

    .leftNav-title > div > div{
        left: 18px;
        width: 134px;
        height: 30px;
    }

    .leftNav-title > div > div > button{
        position: absolute;
        top: 0px;
        left: 132px;
        padding: 0 15px;
        background-color: rgba(0,0,0,0.4);
    }

    .leftNav li {
        padding: 10px;
    }

    /*=================================================
    *
    *
    *                   CONTENT
    *
    *
    =================================================*/

    #content.pageWidth, #content.pageWidth::after, #content .pageContent  {
        background: none;
    }

    #content.pageWidth::after {
        width: 0;
        height: 0;
    }

    #content.pageWidth  {
        width: 100%;
    }

    #content .pageContent  {
        background: #DED096;
        border-radius: 5px;
        padding: 35px 0 10px;
    }

    #content .content-title{
        top: 18px;
    }

    #content .content-title div{
        max-width: 400px;
        width: 100%;
        min-width: 350px;
    }
}

@media screen and (max-width: 500px) {
    .leftNav ul {
        flex-direction: column !important;
    }
    .leftNav ul li{
        width: 100% !important;
    }
}