{% extends 'back/baseAdmin.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block category %}Accueil{% endblock %}

{% block body %}
    {{ form_start(formCatBoost) }}

        {{ form_row(formCatBoost.name) }}

        <button type="submit">
            {% if editMode %}
                Sauvagarder
            {% else %}
                Ajouter
            {% endif %}
            
        </button>

    {{ form_end(formCatBoost) }}
{% endblock %}
