{% extends 'base.html.twig' %}

{% block title %}{{ article.name }}{% endblock %}

{% block contentTitle %}{{ article.name }}{% endblock %}

{% block body %}

    <section class="article">
        {{article.content | raw}}
    </section>
{% endblock %}
