{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block contentTitle %}{{ event.name }}{% endblock %}

{% block body %}

    <section class="event">
        {{event.content | raw}}
    </section>
{% endblock %}
