{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}
{% block contentTitle %}? :) ?{% endblock %}

{% block body %}
	<div class="text-center"><h1>Erreur</h1></div>
{% endblock %}
